@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="logo" src="~/images/Logo.png"/>
</div>
@model List<BlogSharpTeam.Models.Post>
@foreach (var post in Model)
{
    <div class="row">
        <div class="col-md-41">
            <h2><a href="/Posts/Details/@post.Id">@BlogSharpTeam.Classes.Utils.CutText(post.Title, 20)</a></h2>
            <div>
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by<i>@post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <p>@(Html.Raw(post.Body))</p>
        </div>
    </div>
}